<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="client" class="com.shevelev.spring.core.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="Denis Shevelev"/>
    </bean>
    <bean id="eventLogger" class="com.shevelev.spring.core.ConsoleEventLogger"/>
    <bean id="fileEventLogger" class="com.shevelev.spring.core.FileEventLogger" init-method="init">
        <constructor-arg value="fileDenis"/>
    </bean>
    <bean id="cacheFileEventLogger" class="com.shevelev.spring.core.CacheFileEventLogger" destroy-method="destroy">
        <constructor-arg index="0" type="java.lang.String" value="fileDenis"/>
        <constructor-arg index="1" type="java.lang.Integer" value="2"/>
    </bean>
    <bean id="app" class="com.shevelev.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
    </bean>

    <bean id="event" class="com.shevelev.spring.core.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date" scope="prototype"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateInstance"/>
        </constructor-arg>
    </bean>

</beans>